<h1>Listing Dessert Types</h1>

<% @dessert_types.each_slice(4) do |dessert_types| %>
<div class="row">
  <% dessert_types.each do |dessert_type| %>
    <div class="col-md-3">
    	<div class="thumbnail">
    	  <a href="<%= dessert_type_path(dessert_type.id) %>">
    		  <%= image_tag dessert_type.image.url(:dessert_type_thumb), class: "grow" %>
    		</a>
    	</div>
    	<div class="caption"><%= truncate(dessert_type.name, :length => 25) %></div>
    </div>
  <% end %>
</div>
<% end %>
<%#= link_to 'New Dessert Type', new_dessert_type_path %>