<style>
body{
    background: url(https://www.thinkedition.net/wp-content/uploads/2015/11/1355888299_yummy_dessert.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
</style>

<div class="intro-text">
    <div class="intro-lead-in">Welcome To Dessert Recipes App!</div>
    <div class="intro-heading">It's Nice To Meet You</div>
    <a href="#" class="page-scroll btn btn-xl">Checkout our Recipes</a>
</div>