<h1>Listing recipes</h1>
<div class="row">
	<div class="col-md-3">
		<%= render 'shared/sidebar' %>
	</div>
  	<div class="col-md-9">
		<%= render 'recipe_index3' %>
	</div>
</div>
<%#= link_to 'New Recipe', new_recipe_path %>