<footer class="footer">
  <div class="container">
    <span>Dessert Recipes</span>
    <nav>
      <ul>
        <li><%= link_to "Recipes",   recipes_path %></li>
        <li><%= link_to "Dessert Types", dessert_types_path %></li>
        <li><%= link_to "Authors", authors_path %></li>
      </ul>
    </nav>
  </div>
</footer>
