<footer class="footer">
  <small>
    <a href="#">Dessert Recipes</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Recipes",   recipes_path %></li>
      <li><%= link_to "Dessert Types", dessert_types_path %></li>
      <li><%= link_to "Authors", authors_path %></li>
    </ul>
  </nav>
</footer>